{% extends '__base2.html' %} {% block content %}
{% load i18n %}
<div id='bg' class='fill bgFill' style='z-index: -1; position: fixed; background-image: url("/static/assets/bg.svg")'></div>

{% include './header.html' %}

<div id='page1'>

  <div id='intro' style="display:none"></div>
  <div class="d-flex justify-content-center">
    <div class="about-page__banner blog-title">
      <div class="container-fluid center own-center">
        <h1 class="contacts-page__title-blog">{% if data.seo_h1 %}{{data.seo_h1}}{% else %}{{data.name}}{% endif %}</h1>
      </div>
    </div>
  </div>
  <div class="blog__inner">
    {% for i in post %}
    <a href="/blog/{{i.alias}}/">
      <div class="blog__card d-md-flex justify-content-md-start">
        {% if i.images %}
        <div class="img-PC-blog img-mob-blog">
          <img class="services__img" src="{{i.images.url}}" title="{{i.name}}" alt="{{i.name}}">
        </div>
        {% endif %}
        <div class="text-PC-blog">
          <span class="services__link">{{i.name}}</span>
          {% if i.short_desc %}
          <div class="services__text">{{i.short_desc|safe}}</div>
          {% endif %}
          <div class="date-pub" style="margin-top: 21px; font-size: 12px;">
            {% trans "Дата публикации:" %} {{i.og_type_pb_time|date:"d E Y, H:i"}}
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% if page_obj.has_other_pages %}
<div class="d-flex justify-content-center">
  {% if page_obj.has_previous %}
  <a href="?page={{ page_obj.previous_page_number }}" rel="nofollow"><button class="but-clear nav-btn" style="color:#95d;">
      < 
  </button></a>
  {% endif %}
  {% for p in page_obj.paginator.page_range %}
  {% if page_obj.number == p %}
  <button class="but-clear nav-btn but-bud-Active">
    {{ p }}
  </button>
  {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %} <a href="?page={{ p }}" rel="nofollow"><button style="color:#95d;" class="but-clear nav-btn but-bud-noneActive">
    {{ p }}
    </button></a>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" rel="nofollow"><button style="color:#95d;" class="but-clear nav-btn nav-active">
      >
    </button></a>
    {% endif %}
</div>
{% endif %}
<div class="col-12" style="margin-top:20px; margin-bottom:50px;">
  <article>
    {{data.content |safe}}
  </article>
</div>
<div id='p3cred' class='container-fluid' style="background:none; padding: 40px 0;">
  <div class="row">
    <div class="col-md-12 col-12" id="logoDevFrame">
      <a href="https://alvirity.ru/" rel="nofollow" id='logoDev'>
        <img src="/static/images/logoDev.png" width="100%">
      </a>
    </div>
  </div>
</div>
</div>
{% include './mob-footer.html' %}
{% endblock %}
{% block scripts %}
<script src="/static/js/main.js"></script>
<script src="/static/js/lang.js"></script>
{% endblock %}
